



:root{
    --accent-color: #2196F3;
    --title-color:#212121;
    --text-color:#757575;
    --footer-text-color: rgba(255, 255, 255, 0.6);

}

body{
    background-color: #ffffff;
    font-family:'Roboto',sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}


.list{
    list-style:none;
}

.accent{
    color: var(--accent-color);
}

.current{
    color:var(--accent-color) ;
}

a{
    text-decoration: none;
}

.section-title {
    color: var(--title-color);
}


/* Header */
.logo{
    color: #212121;
    font-family: 'Raleway',sans-serif;
    font-size: 26px;
    line-height: 1.2;
}

.site-nav a{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.site-nav a.current{
    color: var(--accent-color);
}


.site-nav a:hover,
.site-nav a:focus,
.conection a:hover,
.conection a:focus{
    color:var(--accent-color);
}

.conection a {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
/* Hero */

.hero{
    background-color: #2F303A;
}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;

    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}

.hero-button{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;

    color: #ffffff;
    background-color: var(--accent-color);
}


/* Peculirities */
.peculirities .title{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--title-color);
}

.peculirities .text{
    line-height:1.71;

    color: var(--text-color);
    
}

/* Occupation */

.occupation{
    font-weight: 700;
    font-size: 36px;
    line-height:1.2;
    text-align: center;    
}

/* Team */

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height:1.2;
    text-align: center;

}

.team .title{
    font-weight: 500;
    font-size: 16px;
    line-height:1.2;

    color: var(--title-color);
}

.profession{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;

    color: var(--text-color);
}
/* Footer */

.page-footer{
    background-color: #2F303A;
}

.page-footer > .logo{
    color: #ffffff;
}

.contact-item{
    line-height: 1.71;
}

.address-link{
    color: #ffffff;
}

.contact-link{
    color: var(--footer-text-color);
}